*{
    font-family: 'poppins';
    background-color: black;
   
}

.container{
    padding: 500px 8%;
    background-color: hsla(0, 0%, 47%,0.3);
    color: aliceblue;
    height: .5px;
    width: 20%;
    margin-left: 4%;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(231, 222, 222, 0.7);
    margin-right: 5%;
}

.profile-card{
    background-color:  hsla(0, 1%, 15%, 0.3);
    margin-top: -100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    
}
.profile-card h5{
    background: hsla(0, 2%, 25%, 0.3);
    text-align: center;
    border-radius: 10px;
    font-size: 22px;
}

.profile-card h7{
    background: hsla(0, 3%, 51%, 0.3);
    text-align: center;
    border-radius: 4px;
    font-size: 14px;
    padding: 5px 10px;
}

.profile-photo {
    border-radius: 50%;
    padding: 0;
    margin-bottom: 15px;
    margin-top: -40%;
    overflow: hidden;
    width: 320px;
    height: 300px; 
}

.profile-photo img {
    width: 100%;
    height: auto; 
    display: block; 
    border-radius: 50%;
}


.button{
   margin: 20px 0;
   background-color: hsla(0, 8%, 15%, 0.3);
   border-top: 1px solid ;
}

.linkedin-btn{
    background-color: hsla(197, 82%, 51%, 0.8);
    display: block;
    border-radius: 20px;
    color: aliceblue;
    text-decoration: none;
    text-align: center;
    padding: 10px 20px;
    margin-top: 30px;
}


.github-btn{
    background-color: hsla(197, 82%, 51%, 0.8);
    display: block;
    border-radius: 20px;
    color: aliceblue;
    text-decoration: none;
    text-align: center;
    padding: 10px 70px;
    margin-top: 20px;
}
.download-cv{
    background-color: hsla(0, 83%, 23%, 0.8);
    display: block;
    border-radius: 20px;
    color: aliceblue;
    text-decoration: none;
    text-align: center;
    padding: 10px 70px;
    margin-top: 40px;
}

.talk{
    background-color: hsla(116, 82%, 51%, 0.8);
    display: block;
    border-radius: 20px;
    color: aliceblue;
    text-decoration: none;
    text-align: center;
    padding: 10px 70px;
    margin-top: 10px;
    margin-bottom: 10%;
}

/* ...about .... */
.row{
    display: flex;
    row-gap: 5%;
}
.about-me{
    padding: 50px 8%;
    background-color: hsla(0, 0%, 47%,0.3);
    color: aliceblue;
    height: 122vh;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(231, 222, 222, 0.7);
    margin-right: 5%;
}

.about-me h2 {
    font-size: 55px;
    margin-bottom: 10px;
    text-align: left;
    background-color: hsla(0, 8%, 15%, 0.3);
}

.about-me p {
    font-size: 16px;
    margin-bottom: 20px;
    background-color: hsla(0, 1%, 54%, 0.3);
    padding: 20px 40px;

}

.about-me h3{
    font-size: 55px;
    margin-bottom: 10px;
    text-align: left;
    background-color: hsla(0, 8%, 15%, 0.3);
    
}

.projects {
background-color: hsla(0, 5%, 15%, 0.8);
margin-bottom: 20px;
}

.project-card{
    background-color: hsla(240, 2%, 26%, 0.3);
    padding: 25px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.project-card:hover {
    background-color: rgb(17, 209, 116); 
}